@charset "utf-8";
/* CSS Document */
   
}
    
#kiri
     {
     width:50%%;
     height:400px;
    background-color:white;
        float:left;
    
     }

#kanan
     {
     width:22.6%;
     height:100px;
     float:right;
     font-family:Arial, Helvetica, sans-serif;
     font-size:14px;
     color:red;
     text-align:left;
    background-color: white;
    margin:0 auto;
    
    
     }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height:;

}
.clearfix { display: inline-block;
    width:1254px;
    margin:0 auto;
    background-color: white;
}
.clearfix nav{
    width:100%;
    margin:0 auto;
    background-color:rgba(0,69,171,1);
    
    
    
}
.clearfix #kiri{
    float:left;
    margin-top:10px;
    
}

}
.clearfix #kanan{
    width:500px;
    float:right;
    
}


* html .clearfix { height: 1%; }
.clearfix { display: block; }

  
}
#kanan p{
    padding-left:0px;
    margin-left:291px;
    float:left;
}

.demo-4{
    overflow: hidden;
    white-space: nowrap;
    float:right;
    
	
    
   
}
.demo-4 input#search{
  width: 285px;
  height: 30px;
  background-color: rgba(235,235,235,1);
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 15px;

  
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.demo-4 input#search::-webkit-input-placeholder {
   color:rgba(153,153,153,1);
}
.demo-4 input#search:-moz-placeholder { 
   color: #ffffff;  
}
.demo-4 input#search::-moz-placeholder {  
   color: #ffffff;  
}
.demo-4 input#search:-ms-input-placeholder {  
   color: #ffffff;  
}

.demo-4 button.icon{
  border: none;
  background: rgba(235,235,235,1) url(../images/Forma-1.png)center no-repeat;
  height: 25px;
  width: 25px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}


  .demo-4:hover button.icon, .demo-4:active button.icon, .demo-4:focus button.icon{
    outline:none;
    opacity: 1;
    margin-left: -30px;
  }

input::placeholder {
}	


#float{
   
    margin:0 auto;
    width:100%px;
    
}
#float li {
    background:rgba(0,69,171,1);
    list-style: none;
    display:inline;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:67.53px;
    padding-right:67px;
    margin:0 auto;
    float:left;
    font-family:roboto bold;
    
}

#float li a {
    border-left: 2px  rgba(0, 0, 0, 0.2);
    border-right: 1px  rgba(0, 0, 0, 0.2);
    color: white;
    font-variant: none;
    text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
    display:inline;
    max-width: 1334px;
}
#float li a:hover{
	background-color:rgba(0,51,255,1);
	}


#slidecontainer{
	
    width:1200px;
    margin:0 auto;
    padding:0px 27px;
    background-color:white;
}
#css3slider{
    
}
main{
    height:2400px;
    z-index:1;
    background-color: rgb(217,217,217);
    width:1332px;
    margin:0 auto;
    
}

#kiri2
     {
     width:50%;
     height:1530px;
     float:left;
	 font-family:Arial, Helvetica, sans-serif;
     font-size:25px;
     color:red;
    margin-left:px;
    padding-left:30px;
         background-color: white;
         
    
    }
#kiri2 img{
    vertical-align:middle;
}

#kiri2 h3{
    font-family:roboto;
    font-size:26px;
}
#kanan2 h3{
    font-family:"roboto";
    font-size:26px;
       
    
}

#bar{
    width:auto;
    background-color:rgba(0,69,171,1);
    margin:0 auto;
    
}
#kiri2 h4{
color:rgba(66,119,184,1);
    font-size:18px
}

#kiri2 p{
    font-size:16px;
    text-indent: inherit;
    color:black;
    
}

#kiri2 ul{
    font-size:15px;
    margin-top:75px;
    padding-left:0px;
    margin-right:170px;
    
}

#kiri2 a{
    text-decoration:none;

}

#news{
    height:700px;
    margin-top:40px;
}
#main{
    margin-left:0px;
    font-size:18px;
    color:black;
    
    
}
#main p{
    margin-top:0px;
    margin-right:14px;
    font-family:roboto regular,sans-serif;
    
    
}
#main h5{
    font-family:roboto medium;
    font-size:18px;
    margin-bottom:0px;
    padding-top:0px;
}
#main a{
    color:black;
}
#main a:hover{
    text-decoration:none;
    color:blue;
    
    
}
#main a p{
    color:red;
    margin-bottom:px;
    margin-right:320px;
    margin-left:140px;
}
#main a p:hover{
    text-decoration:underline;
    color:blue;
}
}
#kiri2 ul a{
   color:rgba(66,119,184,1);
    text-decoration:none;
}
#kiri2 ul a:hover{
    color:red;
    text-decoration:underline;
}
#kanan2
     {
     width:40%;
     height:1530px;
     float:right;
     font-family:Arial, Helvetica, sans-serif;
     font-size:25px;
     color:red;
     margin-right:auto;
    background-color: white;
}

#kanan2 ul{
    font-size:18px;
    margin-bottom:30px;
    margin-right:20px;
    padding-left:0px;
    font-family:"lato black",sans-serif;
      
}
#kanan2 img{
    vertical-align:middle;
}
#kanan2 ul a{
    color:rgba(66,119,184,1);
    text-decoration:none;
      
}
#kanan2 ul a:hover{
    color:red;
    
}

#imgkanan{
    padding-bottom:30px;
}
#imgkanan a:hover{

}
footer{
  
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    
     
}
#illustration{
    z-index: 2;
    background-color:rgb(0,69,171);
    width:100%;
    margin: 0 auto;
       
}
#smallcontent{
    width:100%;
    height:400px;
    margin:0 auto;
    background-color:rgb(0,69,171);
}