@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'latobold';
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack';
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack';
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src:url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
   
#kiri{
    width:500px;
    margin-right:40px;
    display:inline-block;
    margin-top:5px;
    
}

#kanan
     {
     width:260px;
     height:90px;
     float:right;
     font-family:'robotoregular';
     letter-spacing:0.5px;
     font-size:14px;
     color:red;
     text-align:left;
    background-color: white;
    margin:0 auto;
    display:inline-block;
    
    
     }
header{
    width:1200px;
    padding-top:20px;
    margin:0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height:;

}
.clearfix { display: inline-block;
    margin:0 auto;
}

.container{
    
}
    

* html .clearfix { height: 1%; }
.clearfix { display: block; }

  
}
#kanan p{
    padding-left:px;
    float:left;
    width:280px;
    font-family:'robotoregular';
}

.demo-4{
    white-space:nowrap;
    width:260px;
     height:30px;
          position:relative;

}

.demo-4 input#search{
  width: 260px;
  height: 30px;
  background-color: rgba(235,235,235,1);
  border: none;
  font-size: 10pt;
  padding-left: 10px;
     position: absolute;

}


.demo-4 button.icon{
  border: none;
  background: rgba(235,235,235,1) url(../images/Forma-1.png)center no-repeat;
  height: 30px;
  width: 29px;
  color: #4f5b66;
     position:absolute;
margin-left:230px
     
}



#float{
   
    margin:0 auto;
    width:1333px;
    
}
#float ul {
    background:rgba(0,69,171,1);
    list-style: none;
    display:inline;
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
    float:left;
    font-family:'robotobold';
    width:100%;
    
    
}
#float ul li{
    display:inline;
    float:left;
    padding-left:50px;
    padding-right:50px;
     letter-spacing:2px;
}
#float li a {
    border-left: 2px  rgba(0, 0, 0, 0.2);
    border-right: 1px  rgba(0, 0, 0, 0.2);
     padding-left:px;
     padding-right:px;
    color: white;
    font-variant: none;
    text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
    display:inline;
}
#float li a:hover{
	background-color:rgba(0,51,255,1);
	}


#slidecontainer{
	
    width:1200px;
    margin:0 auto;
    padding:0px 27px;
    background-color:white;
}

main{
    height:2860px;
    z-index:1;
    background-color: rgb(217,217,217);
    width:100%;
    margin:0 auto;
}


#kiri2{
     width:695px;
     height:1530px;
     float:left;
     font-size:25px;
     color:red;
         margin:0 auto;
    
    
         
    
    }
#kiri2 img{
    vertical-align:middle;
}

#kiri2 h3{
    font-family:'robotoregular';
    font-size:25px;
     padding-right:15px;
     letter-spacing:2px;
}

#kanan2 h3{
    font-family:"robotoregular";
    font-size:25px;
     padding-right:15px;
     letter-spacing:2px;
       
    
}
.latestnews{
     width:600px;
     margin-bottom:50px;
     
     
}
.latestnews ul{
     font-size:12px;
    padding-left:0px;
    margin-right:170px;
     font-family:'robotobold';
     letter-spacing:2px;
    
}
.latestnews p{
     letter-spacing: 0.6px;
     word-spacing: 0.5px;
     color:black;
     font-size:14px;
     font-family:'robotoregular';
}
.latestnews h4{
     color:rgba(66,119,184,1);
    font-size:18px;
     font-family:'robotobold';
     letter-spacing:1.5px;
     word-spacing: 2px;

}
#bar{
    width:auto;
    background-color:rgba(0,69,171,1);
    margin:0 auto;
    width:100%;
    margin:0 auto;
    background-color:rgba(0,69,171,1);
     font-family:'robotobold';
    
    
}
    


.text{
     height:150px;
     width:600px;
}   

#news{
     margin-right:100px;
     padding-top:0px;
     
}
.news{
     width:400px;
     font-family:"robotoregular";
     font-size:14px;
     letter-spacing:1px;
}

.main{
    font-size:18px;
    color:black;
    margin-right:100px;
    width:400px;
     margin-left:175px;
     height:150px;
     
    
}
#news img{
     width:150px;
     height:150px;
}
.main p{
    margin-top:30px;
    
    
}
.main h5{
    font-family:'robotomedium';
    font-size:18px;
     width:350px;
     height:30px;
     letter-spacing:2px;
     word-spacing:2px;
     
}

.main a{
    color:black;
     text-decoration:none;

}
.main a:hover{
    text-decoration:none;
    color:blue;
    
    
}
.main a p{
    color:red;
    width:110px;
     font-family:'robotobold';
     font-size:12px;
     letter-spacing:3.5px;
}
.main a p:hover{
    text-decoration:underline;
    color:blue;
}
}
#kiri2 ul a{
   color:rgba(66,119,184,1);
    text-decoration:none;
}
#kiri2 ul a:hover{
    color:red;
    text-decoration:underline;
}
#kanan2
     {
     width:475px;
     height:1530px;
     float:right;
     font-size:25px;
     color:red;
    background-color: white;

}

#kanan2 ul{
    font-size:16px;
    margin-bottom:30px;
    margin-right:20px;
    padding-left:0px;
    font-family:"latobold",sans-serif;
    letter-spacing:1px;
      
}
#kanan2 img{
    vertical-align:middle;
    padding-right:15px;
}

#kanan2 ul a{
    color:rgba(66,119,184,1);
    text-decoration:none;
      
}
#kanan2 ul a:hover{
    color:red;
    
}
#kananbawah{
    
     
}
#kananbawah h3{
     font-size:25px;
     
}


#imgkanan{
    padding-bottom:30px;
}
#imgkanan a:hover{

}
footer{
  
    width:100%;
    
     
}
#illustration{
    background-image:url(illustration2.png);
    background-repeat: no-repeat;
    background-size:cover;
    width:1332px;
    height:786px;
    margin: 0 auto;
    
    
       
}

body{
    margin:0 auto;
    width:100%
}