@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'latobold';
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack';
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack';
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src:url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.eot');
    src: url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.woff') format('woff'),
         url('D:/Project/htdocs/slicekppu/Fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*body::before {
   content: "";
   position: absolute;
   background: url(pembanding.png) 50% 0 no-repeat;
   z-index: 1;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: .3;
   pointer-events: none;
   height: 4800px;
}*/

 body{
    margin:0 auto;
    width:100%;
     
}  
#kiri{
    width:500px;
    margin-right:50px;
    display:inline-block;
    margin-top:17px;
    
}
#kiri img{
     padding-left:14px
}

#kanan
     {
     width:390px;
     height:80px;
     float:right;
     font-family:'robotoregular';
     letter-spacing:1.75px;
     font-size:14px;
     color:red;
     text-align:left;
    background-color: white;
    margin:0 auto;
    display:inline-block;
         
    
    
     }
#searchform{
     
}
header{
    width:1200px;
     background-color:white;
    padding-top:36.2px;
    margin:0 auto;
     padding-bottom:46px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height:;

}
.clearfix { display: inline-block;
    margin:0 auto;
}

    

* html .clearfix { height: 1%; }
.clearfix { display: block; }

  
}


.demo-4{
    white-space:nowrap;
    width:380px;
     height:35px;
          position:relative;
     margin-bottom:

}

.demo-4 input#search{
  width: 380px;
  height: 35px;
  background-color: rgba(235,235,235,1);
  border: none;
  font-size: 10pt;
  padding-left: 30px;
     position: absolute;
     letter-spacing:4px;
     

}


.demo-4 button.icon{
  border: none;
  background: rgba(235,235,235,1) url(../images/Forma-1.png)center no-repeat;
  height: 30px;
  width: 30px;
  color: #4f5b66;
     position:absolute;
margin-left:347px
     
}



#float{
   
    margin:0 auto;
    width:1334px;
     height:56px
    
}
#float ul {
    background:rgba(0,69,171,1);
    list-style: none;
    display:inline;
    padding-top:17px;
    padding-bottom:15px;

    margin:0 auto;
    float:left;
    font-family:'robotobold';
    width:100%;
    
    
}
#float ul li{
    display:inline;
    float:left;
    padding-left:82px;
    padding-right:7px;
     letter-spacing:2.2px;
}
#float li a {
    border-left: 2px  rgba(0, 0, 0, 0.2);
    border-right: 1px  rgba(0, 0, 0, 0.2);
    color: white;
    font-variant: none;
    text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
    display:inline;
}
#float li a:hover{
	background-color:rgba(0,51,255,1);
	}


#slidecontainer{
	
    width:1200px;
    margin:0 auto;
    padding:0px 43px;
    background-color:white;
     height:2000px;
     padding-bottom:70px;
          
}


main{
    height:2860px;
    z-index:1;
    background-color: rgb(217,217,217);
    width:100%;
    margin:0 auto;
}
#mainpic{
     margin-bottom:63px;
}

#kiri2{
     width:600px;
     height:1530px;
     float:left;
     font-size:25px;
     color:red;
         margin:0 auto;
     margin-left:10px
    
    
         
    
    }
#kiri2 img{
    vertical-align:middle;
}

#kiri2 h3{
    font-family:'robotoregular';
    font-size:25px;
     padding-right:15px;
     letter-spacing:2.5px;
}
#kiri2 h3 img{
     margin-right:8px
}

#kanan2 h3{
    font-family:"robotoregular";
    font-size:25px;
     padding-right:15px;
     letter-spacing:2px;
       
    
}
.latestnews{
     width:600px;
     margin-bottom:50px;
     margin-top:50px;
     
     
}
.latestnews ul{
     margin-top:37px;
     font-size:12px;
    padding-left:0px;
    margin-right:170px;
     font-family:'robotobold';
     letter-spacing:3.5px;
    
}
.latestnews p{
     margin-top:10px;
     letter-spacing: 0.6px;
     word-spacing: 0.5px;
     color:black;
     font-size:14px;
     font-family:'robotoregular';
}
.latestnews h4{
     color:rgba(66,119,184,1);
    font-size:18px;
     font-family:'robotobold';
     letter-spacing:2.1px;
     word-spacing:px;
     margin-top:32px;
     margin-bottom:0px;

}
#bar{
    width:auto;
    background-color:rgba(0,69,171,1);
    margin:0 auto;
    width:100%;
    margin:0 auto;
    background-color:rgba(0,69,171,1);
     font-family:'robotobold';
    
    
}
    


.text{
     height:140px;
     width:600px;
     margin-top:0px;
}   

#news{
     margin-top:100px;
     margin-right:100px;
     
     
}
.news{
     margin-top:0px;
     width:400px;
     font-family:"robotoregular";
     font-size:14px;
     letter-spacing:1px;
}

.main{
    color:black;
    margin-right:110px;
    width:400px;
     margin-left:180px;
     height:140px;
     
    
}
#news img{
     width:140px;
     height:140px;
}
.main p{
margin-top:0px;
    
    
}

.main h5{
    font-family:'robotomedium';
    font-size:18px;
     width:320px;
     height:30px;
     letter-spacing:1px;
     word-spacing:2px;
     margin-bottom:28px;
     
}

.main a{
    color:black;
     text-decoration:none;

}
.main a:hover{
    text-decoration:none;
    color:blue;
    
    
}
.main a p{
     margin-top:32px;
    color:red;
    width:110px;
     font-family:'robotobold';
     font-size:12px;
     letter-spacing:3.5px;
}
.main a p:hover{
    text-decoration:underline;
    color:blue;
}
}
#kiri2 ul a{
   color:rgba(66,119,184,1);
    text-decoration:none;
}
#kiri2 ul a:hover{
    color:red;
    text-decoration:underline;
}
#kanan2
     {
     width:475px;
     height:1530px;
     float:right;
     font-size:25px;
     color:red;
    background-color: white;
          margin-right:36px

}
#kanan2 h3{
     margin-bottom:48px;
     letter-spacing:2.3px;
}

#kanan2 ul{
    font-size:16px;
    margin-bottom:25px;
    margin-right:20px;
    padding-left:0px;
    font-family:"latobold",sans-serif;
    letter-spacing:1px;
      
}
#kanan2 img{
    vertical-align:middle;
    padding-right:20px;
}
#kanan2 h3 img{
     padding-right:8px;
}

#kanan2 ul a{
    color:rgba(66,119,184,1);
    text-decoration:none;
      
}
#kanan2 ul a:hover{
    color:red;
    
}
#kananbawah{
    margin-top:100px
     
}
#kananbawah h3{
     font-size:25px;
     margin-bottom:30px;
     
}


#imgkanan{
    padding-bottom:30px;
}
#imgkanan a:hover{

}
footer{
     
  background-image:url(illustration2.png);
    background-repeat: no-repeat;
    width:100%;
    height:800px;
    margin: 0 auto;
    background-position:center;
    
     
}
#footercontent{
     margin:0 auto;
          width:1200px;
     padding-top:389px;
     height:400px;

     
}
#leftfooter{
     float:left;
     width:160px;
     height:46px;
     margin-left:px;
     position:absolute;

}

#leftfooter ul{
     
                padding-left:0px;
     position:absolute;
     margin-bottom:0px;
     
            }
            
#leftfooter ul li{
                display:inline-block;
            }
            
#leftfooter ul li a{
                display:block;
                width:42px;
                height:42px;
     margin-left:7.5px;
            }
            
#leftfooter         a.icon{
                background-image:url('sprite.png');
            }
            
  #leftfooter          a.facebook{
                background-position: 2px 0px;
            }
            
  #leftfooter a.facebook:hover{
                background-position: 2px 52px;
            }
            
   #leftfooter         a.twitter{
                background-position: 95px 0px;
            }
            
  #leftfooter           a.twitter:hover{
                background-position: 95px 52px;
            }
            
   #leftfooter          a.youtube{
                background-position: 42px 0px;
            }
            
     #leftfooter        a.youtube:hover{
                background-position: 42px 52px;
            }
            
#rightfooter{
     float:right;
     width:410px;
     height:35px;
     margin-top:20px;
}
.email{
    white-space:nowrap;
    width:400px;
     height:38px;
      position:relative;
     margin-bottom:0px;
     

}

.email input#e-mail{
  width: 360px;
  height: 36px;
  background-color: rgba(235,235,235,1);
  border: none;
  font-size: 8px;
  padding-left: 20px;
     position: absolute;
     letter-spacing:4px;
     margin-left:19px

}


.email button.icon{
  border: none;
  background: rgba(235,235,235,1) url(../images/mail.png)center no-repeat;
  height: 35px;
  width: 40px;
  color: #4f5b66;
     position:absolute;
margin-left:355px
     
}
.footermenu{
     padding-top:30px;
     width:1200px;
     height:250px;
     float:inherit;
     font-family:"latobold";
     color:white;
     letter-spacing:3px;
     font-size:14pt;
     margin:0 auto;
     
}
footer p{
     width:200px;
          margin:0 auto;
     font-family:latoregular;
     color:rgba(255,255,255,0.4);
     font-size:8pt;
     letter-spacing:3.5px;
     margin-top:23px;
     text-align: center;
     
}
.footermenu ul{
     list-style:none;
     font-family:"latoregular";
     font-size:13px;
}
.footermenu li{
     letter-spacing:2.8px;
line-height:22px;
     
}
.footermenu ul a{
     color:white;
     text-decoration: none;
}
.footermenu ul a:hover{
     text-decoration:underline;
}
#footermenu h5{
     font-family:"latobold";
}
#aboutkppu{
     float:left;
     width:276px;
     height:230px;
     
}
#aboutkppu h5{
     padding-left:10px;
          letter-spacing:2.5px;
     height:20px;
}
#aboutkppu ul{
     padding-top:4px;
     padding-left:10px;
     width:210px
     
     
}
#legislation{
     float:left;
     width:210px;
     height:230px;
}
#legislation h5{
     letter-spacing:2.7px;
     padding-left:5px;
     height:20px;
}
#legislation ul{
     padding-top:3px;
     padding-left:4px;
     width:160px
}
#policy{
     float:left;
     width:230px;
     height:230px;
     
}
#policy h5{
     padding-left:10px;
     letter-spacing:2.5px;
}
#policy ul{
     padding-left:9px;
     padding-top:2px;
     width:200px
     
}
#media{
     float:left;
     width:210px;
     height:230px;

}
#media h5{
     padding-left:36px;
     letter-spacing:3px;
     height:20px;
     
}
#media ul{
     padding-left:36px;
     padding-top:4px;
     
}
#contact{
     float:left;
     width:230px;
     height:230px;
}
#contact h5{
     padding-left:55px;
     letter-spacing:2.8px;
}
#contact ul{
     padding-left:53px;
     padding-top:1px;
}


